body {
    background-image: url(matrixFondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    line-height: 0;
}

#alura-logo {
    position: relative;
    top: 60px;
    left: 60px;
}

h1 {
    text-align: center;
    font-family: 'Syne Mono', monospace;
    font-size: 80px;
    text-decoration: solid underline;
    margin-top: 100px;
    color: rgb(157, 214, 145);
}


main {
    text-align: center;
    margin-top: 120px;
}

main section {
    display: inline-block;
    text-align: center;
    padding-inline: 30px;
}

.input {
    resize: none;
    background-color: black;
    background-position: 50% 50%;
    background-size: 150%;
    width: 580px;
    height: 260px;
    font-family: 'Syne Mono', monospace;
    font-size: 30px;
    font: 333;
    color: #2be206;
    border: 5px solid rgb(92, 89, 89);
    border-radius: 2.5px;
    box-shadow: -10px -10px 15px 5px black;

}

.botonera-ed button {
    width: 160px;
    height: 40px;
    font-size: 20px;
    background-color: rgb(92, 89, 89);
    color: #FFFFFF;
    font-family: 'Roboto Mono', monospace;
    font-weight: lighter;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    margin: 20px 15px;
    box-shadow: -5px -5px 10px 2px black;
    transition: 500ms;
}

.botonera-ed button:hover {
    background-color: rgb(56, 54, 54);
}

.botonera-ed button:active {
    transform: scale(0.8);
}

.output {
    resize: none;
    background-color: black;
    background-position: 60% 15%;
    background-size: 150%;
    width: 580px;
    height: 260px;
    font-family: 'Syne Mono', monospace;
    font-size: 30px;
    font: 333;
    color: #2be206;
    border: 5px solid rgb(92, 89, 89);
    border-radius: 2.5px;
    box-shadow: 10px -10px 15px 5px black;
}

.botonera-cb button {
    width: 100px;
    height: 40px;
    margin-top: 20px;
    font-size: 20px;
    background-color: rgb(92, 89, 89);
    color: #FFFFFF;
    font-family: 'Roboto Mono', monospace;
    font-weight: lighter;
    display: inline-block;
    position: relative;
    margin: 20px 10px;
    box-shadow: 5px -5px 10px 2px black;
    transition: 500ms;
}

.botonera-cb button:hover {
    background-color: rgb(56, 54, 54);
}

.botonera-cb button:active {
    transform: scale(0.8);
}

#boton-borrar {
    background-color: rgb(141, 18, 10);
}

footer {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 30px;
    color: #FFFFFF;
    font-size: 22px;
}

#ghlogo {
    padding: 15px;
    width: 100px;
    display: inline-block;
    transition: 1s;
}

#ghlogo:hover {
    transform: scale(1.25);
}

@media screen and (max-width: 480px) {

    body,
    main section {
        display: inline-block;
        width: auto;
        text-align: center;
        margin: 0 auto;
    }

    footer {
        text-align: end center;
    }
}